<html>

<head>
  <title>Merkinnän muokkaus</title>
</head>

<link rel="stylesheet" href="/static/main.css">

<body class="center-page">
    {% if session.username %}
    <header class="top-bar">
        <h1 class="top-bar-title">Opintokalenteri</h1>
        <br>
        <nav class="top-bar-actions">
        <a class="btn btn--ghost" href="/">Etusivu</a>
        <a class="btn btn--ghost" href="/new_course">Lisää kurssi</a>
        <a class="btn btn--ghost" href="/new_entry">Uusi merkintä</a>
        <a class="btn btn--ghost" href="/find_entry">Etsi merkintä</a>
        <a class="btn btn--ghost" href="/all_courses">Muiden käyttäjien kurssit</a>
        <a class="btn btn--ghost" href="/user/{{ session.username }}">Omat sivut</a>
        <a class="btn btn--ghost" href="/logout">Kirjaudu ulos</a>
        </nav>
    </header>

  <form class="form-style" action="/edit_entry/{{ entry.id }}" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ entry.title }}" maxlength="50" required />
    </p>
    <br>
    <p>
        Kuvaus: <br />
        <textarea name="description" rows="5" cols="40" maxlength="1000" required>{{ entry.description }}</textarea>
    </p>
    <br>
    <p>
      Aikaraja: <br />
      <input type="date" name="date" value="{{ entry.date }}" required />
    </p>
    <br>
    <p>
      Kurssi: <br />
      <select name="course_id">
        <option value="">Ei kurssia</option>
        {% for course in all_courses %}
          <option value="{{ course.id }}" {% if entry.course_id == course.id %}selected{% endif %}>
            {{ course.name }}
          </option>
        {% endfor %}
      </select>
    </p>
    <br>
    {% for tag in all_tags %}
    <p>
      {{ tag }}: <br />
      {% for value in all_tags[tag] %}
        <input
            type="checkbox" 
            name="tags" 
            value="{{ tag }}:{{ value }}" 
            {% if (tag, value) in entry_tags %}checked{% endif %}>
        {{ value }}<br />
      {% endfor %}
    </p>
    {% endfor %}
    <br>
    <input type="hidden" name="entry_id" value="{{ entry.id }}" />
    <input type="hidden" name="entry_tags" value="{{ entry_tags }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" name="update" value="Tallenna muutokset" class="btn btn--small"/>
    <input type="submit" name="cancel" value="Peruuta" class="btn btn--small" />
  </form>
    {% endif %}

    {% if not session.username %}
      <header class="top-bar">
          <h1 class="top-bar-title">Opintokalenteri</h1>
          <nav class="top-bar-actions">
          <a class="btn btn--ghost" href="/login">Kirjaudu sisään</a>
          <a class="btn btn--ghost" href="/register">Rekisteröidy</a>
          </nav>
      </header>
    {% endif %}
</body>

</html>