<html>

<head>
  <title>Merkinnän muokkaus</title>
</head>

<body>
    <h1>Merkinnän {{ entry.title }} muokkaus</h1>
  <form action="/edit_entry/{{ entry.id }}" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ entry.title }}" maxlength="50" required />
    </p>
    <p>
        Kuvaus: <br />
        <textarea name="description" rows="5" cols="40" maxlength="1000" required>{{ entry.description }}</textarea>
    </p>
    <p>
      Aikaraja: <br />
      <input type="date" name="date" value="{{ entry.date }}" required />
    </p>
    <p>
      Kurssi: <br />
      <select name="course_id">
        <option value="">Ei kurssia</option>
        {% for course in all_courses %}
          <option value="{{ course.id }}" {% if entry.course_id == course.id %}selected{% endif %}>{{ course.name }}</option>
        {% endfor %}
      </select>
    </p>
    <input type="hidden" name="entry_id" value="{{ entry.id }}" />
    <input type="submit" value="Tallenna muutokset" />
  </form>
</body>

</html>