<html>

<head>
  <title>Etsi merkintä</title>
</head>

<link rel="stylesheet" href="/static/main.css">

<body class="center-page">
    {% if session.username %}
    <header class="top-bar">
        <h1 class="top-bar-title">Opintokalenteri</h1>
        <br>
        <nav class="top-bar-actions">
        <a class="btn btn--ghost" href="/">Etusivu</a>
        <a class="btn btn--ghost" href="/new_course">Lisää kurssi</a>
        <a class="btn btn--ghost" href="/new_entry">Uusi merkintä</a>
        <a class="btn btn--ghost" href="/find_entry">Etsi merkintä</a>
        <a class="btn btn--ghost" href="/all_courses">Muiden käyttäjien kurssit</a>
        <a class="btn btn--ghost" href="/user/{{ session.username }}">Omat sivut</a>
        <a class="btn btn--ghost" href="/logout">Kirjaudu ulos</a>
        </nav>
    </header>
    <header class="form-top-bar">
        <h2 class="form-top-bar-title">Etsi merkintä</h2>
    </header>
    <form class="form" action="/find_entry" method="get">
        <p>
            Hakusana:<br />
            <input type="text" name="query" value="{{ query }}" />
        </p>
        <input type="submit" value="Etsi merkintöjä" class="btn btn--small"/>
    </form>

        {% if query %}
        <h2>Hakutulokset</h2>
        <ul>
        {% for entry in results %}
            <li>
            <a href="/entry/{{ entry.id }}" class="btn btn--link">{{ entry.title }}</a><br>
            Aikaraja: {{ entry.date }}
            </li>
        {% else %}
            <li>Ei merkintöjä hakusanalla "{{ query }}".</li>
        {% endfor %}
        </ul>
        {% endif %}

    {% endif %}

    {% if not session.username %}
    <header class="top-bar">
        <h1 class="top-bar-title">Opintokalenteri</h1>
        <nav class="top-bar-actions">
        <a class="btn btn--ghost" href="/login">Kirjaudu sisään</a>
        <a class="btn btn--ghost" href="/register">Rekisteröidy</a>
        </nav>
    </header>
    {% endif %}
</body>

</html>