<html>

<head>
  <title>Opintokalenteri</title>
</head>

<body>
    <h1>Opintokalenteri</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{ session.user_id }}.
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

  <p>
    <a href="/new_entry">Uusi merkintä</a>
  </p>

  <h2>Merkinnät</h2>
  <ul>
    {% for entry in all_entries %}
      <li><a href="/entry/{{ entry.id }}">
        {{ entry.title }}</a><br>
        Aikaraja: {{ entry.date }}</li>
    {% else %}
      <li>Ei merkintöjä.</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if not session.username %}
  <p>
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Rekisteröidy</a>
  </p>
  {% endif %}
</body>

</html>