<html>

<head>
    <title>Kirjautuminen</title>
</head>

<link rel="stylesheet" href="/static/main.css">

<body class="center-page">
    <header class="form-top-bar">
        <h1 class="form-top-bar-title">Kirjaudu sisään</h1>
    </header>
    {% if session.username %}
    <p>
        Olet kirjautunut nimellä {{ session.username }}
    </p>
    <p>
        <a href="/logout">Kirjaudu ulos</a>
    </p>
    {% else %}

    <form class="form-style" action="/login" method="post">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-{{ category }}">
                {% for category, message in messages %}
                    <p class="flash-{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
        <p>
            Tunnus: <br />
            <input type="text" name="username" required minlength="3" maxlength="20" />
        </p>
        <p>
            Salasana: <br />
            <input type="password" name="password" required minlength="6" maxlength="100" />
        </p>
        <input type="submit" value="Kirjaudu" class="btn btn--small"/>
        <br>
        <p>Etkö ole vielä käyttäjä?</p>
        <a href="/register" class="btn btn--small btn--ghost">Rekisteröidy</a>
        <a href="/" class="btn btn--small btn--ghost">Palaa etusivulle</a>
      </form>
    {% endif %}
</body>

</html>