<html>

<head>
  <title>{{ course.name }}</title>
</head>

<link rel="stylesheet" href="/static/main.css">

<body class="center-page">
    {% if session.username %}
    <header class="top-bar">
        <h1 class="top-bar-title">Opintokalenteri</h1>
        <br>
        <nav class="top-bar-actions">
        <a class="btn btn--ghost" href="/">Etusivu</a>
        <a class="btn btn--ghost" href="/new_course">Lisää kurssi</a>
        <a class="btn btn--ghost" href="/new_entry">Uusi merkintä</a>
        <a class="btn btn--ghost" href="/find_entry">Etsi merkintä</a>
        <a class="btn btn--ghost" href="/all_courses">Muiden käyttäjien kurssit</a>
        <a class="btn btn--ghost" href="/user/{{ session.username }}">Omat sivut</a>
        <a class="btn btn--ghost" href="/logout">Kirjaudu ulos</a>
        </nav>
    </header>

    <header class="form-top-bar">
        <h2 class="form-top-bar-title">{{ course.name }}</h2>
    </header>
    <p>
        <b>Kuvaus:</b> <br />
        <div class="description">{{ course.description }}</div>
    </p>
    <br>
    <p>
        <b>Lisännyt käyttäjä:</b> <a class="btn--link" href="/user/{{ course.username }}">{{ course.username }}</a>
    </p>
    <br>
        {% if owner %}
        <nav class="top-bar-actions">
            <a class="btn btn--small" href="/edit_course/{{ course.id }}">Muokkaa kurssia</a>
            <a class="btn btn--small" href="/delete_course/{{ course.id }}">Poista kurssi</a>
            <a class="btn btn--small" href="/new_entry?course_id={{ course.id }}">Lisää merkintä </a>
        </nav>
        {% endif %}
    <br>
    <h3>Merkinnät</h3>
        <p>
            {% if entries %}
                <ul>
                {% for entry in entries %}
                    <li><a class="btn btn--link" href="/entry/{{ entry.id }}">{{ entry.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                Ei merkintöjä.
                <br>
            {% endif %}
    <br>
    <div class="comment-box">
        <form class="form-style" action="/add_comment_course/{{ course.id }}" method="post">
            <input type="hidden" name="course_id" value="{{ course.id }}">
            <h3>Kommentoi kurssiin</h3>
            <br>
            <p>
                <textarea name="comment" rows="4" cols="50" maxlength="1000" required></textarea>
            </p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Lähetä kommentti" class="btn btn--small"/>
        </form>
        <br>
        <h3>Kommentit</h3>
        {% if comments %}
            <ul>
            {% for comment in comments %}
                <div class="comment">
                    <a class="author" href="/user/{{ comment.username }}">{{ comment.username }}</a>
                    <div class="date">{{ comment.date }}</div>
                    <div class="content">{{ comment.comment }}</div>
                        {% if session.user_id == comment.user_id %}
                        <form action="/delete_comment/{{ comment.id }}" method="POST" style="display:inline;">
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <button type="submit" class="btn btn--smallwhite">Poista kommentti</button>
                        </form>
                        {% endif %}
                </div>
            {% endfor %}
            </ul>
        {% else %}
            Ei kommentteja.
        {% endif %}
        <br>
        </div>
        <p><a href="/" class="btn btn--small">Takaisin etusivulle</a></p>
    
   {% endif %}

    {% if not session.username %}
    <header class="top-bar">
        <h1 class="top-bar-title">Opintokalenteri</h1>
        <nav class="top-bar-actions">
        <a class="btn btn--ghost" href="/login">Kirjaudu sisään</a>
        <a class="btn btn--ghost" href="/register">Rekisteröidy</a>
        </nav>
    </header>
    {% endif %}
</body>

</html>